{%extends 'master.html'%}
{%block body%}
<section id="form" style = 'margin-left:30%;'><!--form-->
		<div class="container">
			<div class="col-sm-4 col-sm-offset-1">
                <div class="signup-form"><!--login form-->
						<h2>Signup to your account</h2>
						<form method="post">
                            {% csrf_token %}
                            {% for field in form%}
                            {{ field.errors }}
                            <p>{{ field }}</p>
                            {% endfor %}

                            <button class ="btn btn-default" type ="submit">SignUp </button><br>
                            <span style="margin-left: 88px;">Already Have An Account</span>&nbsp;<a href="{% url 'login' %}">Log in</a>
                        </form>
                </div>
            </div>
        </div>
</section>


{%endblock%}